<footer id="footer">
    <div id="containerInformation">
        <div id="informationMe">
            <div id="box_text">
                <div id="boxTitulo">
                    <h1>Hecho por:</h1>
                </div>
                <div id="text">
                    <p>Héctor Emilio Somer Velázquez.</p>
                    <p>Universidad Politécnica de Chiapas.</p>
                </div>
            </div>
        </div>    
    </div>
     <div id="containerGorillaz">
        <div id="boxTitulo">
            <h1 id="h1_right">Redes sociales de Gorillaz:</h1>
        </div>
        <div id="container">
            <div id="containerRedes">
                <a href="https://www.instagram.com/gorillaz/">
                    <img src="./assets/Instagram.png" alt="">
                </a>
                <a href="https://www.facebook.com/Gorillaz/?locale=es_LA">
                    <img src="./assets/descarga.png" alt="">
                </a>
                <a href="https://www.youtube.com/channel/UCfIXdjDQH9Fau7y99_Orpjw">
                    <img src="./assets/Youtube.png" alt="">
                </a>
                <a href="https://x.com/gorillaz">
                    <img src="./assets/X.png" alt="">
                </a>
            </div>
        </div>
     </div>
</footer>